/* Write your CSS here */
.div {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}
.dark-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: black;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  color: white;
}
.btn {
  border-radius: 5px;
  width: 130px;
  height: 50px;
}
.light-mode {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;

  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}
